/* Add here all your CSS customizations */

/* font size styles set */
p {
	font-size: 17px !important;
}

small {
	font-size: 14px !important;
}

h1 {
	font-size: 36px !important;
}

h2 {
	font-size: 30px !important;
}

h3 {
	font-size: 24px !important;
}

h4 {
	font-size: 20px !important;
}

h5 {}
/* END font size styles set */

h6 {}

.bg-svg {
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	height: 0;
	padding: 0;
	padding-bottom: 92%;
}

.svgFill-default {
	fill: #6a6a6a;
}

.svgFill-primary {
	fill: var(--primary-bg-color);
}

.nav-active {
	background-color: var(--primary-bg-color-faded);
}

hr {
	background-image: -webkit-gradient(linear, right top, left top, from(var(--secondary-bg-color-gradient-start)), color-stop(var(--secondary-bg-color-gradient-stop)), to(var(--secondary-bg-color-gradient-start)));
	background-image: linear-gradient(to left, var(--secondary-bg-color-gradient-start), var(--secondary-bg-color-gradient-stop), var(--secondary-bg-color-gradient-start));
}

.divider-solid {
	background-image: linear-gradient(to left, var(--secondary-bg-color), var(--secondary-bg-color), var(--secondary-bg-color));
}

.dropdown-menu {
	border: 1px solid #0063cccc !important;
}

.progressLabel {
	float: right;
	text-align: right;
}

.start {
	float: left;
}

.end {
	float: right;
	text-align: right;
}

.circle-background,
.circle-progress {
	fill: none;
}

.circle-background {
	stroke: #ddd;
}

.circle-progress {
	stroke: #007bff;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle-text {
	font-size: 1rem;
	font-weight: bold;
	fill: #007bff;
}

.circle-text svg {
	width: 50%;
	height: 50%;
	position: relative;
}