:root {
    --primary-bg-color: #f15a24;
    --primary-bg-hover: #f15b24cc;
    --primary-bg-active: #f15a24;
    --primary-bg-focus: #f0592280;
    --primary-bg-color-faded: #f15a241a;
    --primary-bg-border: #f15a2480;
    --primary-bg-alert: #f15a24;

    --secondary-bg-color: #4c84ff;
    --secondary-bg-hover: #4c84ffcc;
    --secondary-bg-active: #4c84ff;
    --secondary-bg-focus: #4c84ff80;
    --secondary-bg-color-faded: #4c84ff1a;
    --secondary-bg-border: #4c84ff80;
    --secondary-bg-alert: #4c84ff;
    --secondary-bg-color-gradient-start: #4c84ff00;
    --secondary-bg-color-gradient-stop: #4c85ff33;
}